&__gray-clean {
    width: 111px;
    height: 36px;
    font-size: 13px;
    color: #878787;
    padding: 0;
    background-color: rgba($color: #E0E0E0, $alpha: 0.3);
    border: none;
    border-radius: 5px;
}
&__gray-clean:hover {
    cursor: unset;
}