&__transperent-clean {
    width: 144px;
    height: 46px;
    font-size: 15px;
    color: #2C2C2C;
    padding: 0;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
&__transperent-clean:hover {
    background-color: #E0E0E0;
    border: 1px solid #2C2C2C;
    transition: 0.5s;
}