&__right {
    width: 134px;
    height: 46px;
    font-size: 15px;
    background-color: transparent;
    color: #2C2C2C;
    border: 1px solid #E0E0E0;
    border-radius: 0px 5px 5px 0px;
}
&__right:hover {
    background-color: #18A0FB;
    color: white;
    border: 1px solid #18A0FB;
    transition: 0.5s;
}